<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="sk_test_4eC39HqLyjWDarjtT1zdp7dc" />
    <add key="DatabasePassword" value="SuperSecretPass123!" />
    <add key="JwtSecret" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9" />
    <add key="AWSAccessKeyID" value="AKIAIOSFODNN7EXAMPLE" />
    <add key="AWSSecretKey" value="wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY" />
    <add key="PrivateKey" value="-----BEGIN PRIVATE KEY-----MIIEvQIBADANBgkqhkiG9w0BAQEFAASC..." />
    <add key="SecretToken" value="ghp_16charsofgithubtoken1234" />
  </appSettings>
</configuration>
